@keyframes backgroundZoomReverse {
    from { transform: scale(2.5) translateX(-300px); opacity: 1; }
    to { transform: scale(1) translateX(0); opacity: 1; }
}

#bg-video.zoom-reverse {
    animation: backgroundZoomReverse 0.5s ease-out;
    animation-fill-mode: forwards;
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

.fade-out {
    animation: fadeout 0.2s;
    animation-fill-mode: forwards;
}