:root {
    --main-color: rgba(10, 10, 10, 0.85);
    --main-color-marked: rgba(5, 5, 5, 0.80);
}

h1 {
    font-family: 'Surgena';
    font-size: 75px;
    background-color: rgb(49, 51, 65);
    background: linear-gradient(rgb(214, 100, 55), rgb(254, 255, 213));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-radius: 40px;
} 

h3 {
    background: linear-gradient(rgb(220, 157, 133), rgb(254, 255, 213));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

h1, h3, p {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}