
main {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card {
    flex: none;
    text-align:center;
    height: fit-content;
}