@font-face {
    font-family: 'Surgena';
    src: url('../fonts/Surgena.woff');
}

@font-face {
    font-family: 'Halfre';
    src: url('../fonts/Halfre-Regular.woff');
    font-feature-settings: "salt" 1;
}

* {
    font-family: 'Halfre', 'Roboto', sans-serif;
    color: aliceblue;
    font-size: medium;
}