@font-face {
    font-family: 'Surgena';
    src: url('../fonts/Surgena.woff');
}

@font-face {
    font-family: 'Halfre';
    src: url('../fonts/Halfre-Regular.woff');
    font-feature-settings: "salt" 1;
}

:root {
    --main-color: rgba(32, 27, 34, 0.7); 
    --main-color-hover: rgba(32, 27, 34, 0.2);
    --main-color-marked: rgba(32, 27, 34, 0.9);
}

* {
    font-family: 'Halfre', 'Roboto', sans-serif;
    color: aliceblue;
}

body, html {
    width: 100%;
    height: 100vh;
    margin: 0; 
    padding: 0;
}

main {
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px) brightness(80%);
}

h1 {
    font-family: 'Surgena';
    font-size: 75px;
    background-color: rgb(49, 51, 65);
    background: linear-gradient(rgb(214, 100, 55), rgb(254, 255, 213));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-radius: 40px;
} 

h3 {
    background: linear-gradient(rgb(220, 157, 133), rgb(254, 255, 213));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

h1, h3, p {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.top-bar {
    display: flex;
    align-self: center;
    width: 100%;
    height: 40px;
    background-color: var(--main-color);
}

.main-page {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

footer {
    display: flex;
    align-self: center;
    align-items: center;
    width: 100%;    
    height: 40px;
    background-color: var(--main-color);
}

footer div{
    padding-left: 5px;
    padding-right: 5px;
    flex: 1;
}

#date {
    font-size: large;
    color: rgba(240, 248, 255, 0.2);
    justify-self: start;
}

#details {
    justify-self: end;
}

#details p {
    margin: 0px;
    padding: 0px;
    padding-left: 20px;
    color: rgba(240, 248, 255, 0.2);
    text-align: end;
}

#welcome-panel {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border-radius: 20px;
    background-color: var(--main-color);
    filter: drop-shadow(0 0 10px rgba(0,0,0,1));

    transition: all 0.3s;
}

#welcome-panel:hover {
    filter: drop-shadow(0 0 20px rgba(0,0,0,1));
    background-color: var(--main-color-marked);
}

#navigation {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 200px;
    padding: 40px;
}

#navigation button {
    font-family: 'Halfre';
    font-size: 50px;
    background-color: transparent;
    background-image: linear-gradient(90deg, var(--main-color), rgba(0, 0, 0, 0) 20%);
    width: 100%;
    height: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0px;
    border-left: 2px solid aliceblue;
    text-align: left;
    padding-left: 20px;
    transition: all 0.1s ease;
}

#navigation button:hover {
    background-color: var(--main-color-hover);
    background-image: linear-gradient(90deg, var(--main-color), rgba(0, 0, 0, 0) 90%);
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
